/* Шапка */
.side-container {
  margin-top: 20px;
}

.side-title {
  display: flex;
  align-items: center;
  
  column-gap: 30px;
}

.side-title h1 {
  font-size: 50px;
}

.side-title img {
  width: 20px;
  height: auto;
}

.side-title-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 2rem;
  margin-bottom: 30px;
}

.store-header-side{
  position: relative;
}

.button-header-side img{
  width: 30px;
  height: auto;
}

.header-store-rect-side{
  width: 13px;
  height: auto;

  position: absolute;
  top: -8px;
  right: -12px;
}

/* Главная страница категорий */
.category-items-side-section {
  margin-bottom: 50px;
}

.category-items-side-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  column-gap: 10px;
  row-gap: 70px;
}

.category-item-side-button {
  width: 350px;
  height: auto;

  position: relative;
}

.category-item-side-button:hover{
  transform: scale(1.05);
}

.category-item-side-button:active{
  transform: scale(1);
}

.category-item-side-button img {
  width: 100%;
  height: auto;
}

.category-item-side-button p {
  position: absolute;
  inset: 0;

  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 30px;
  color: var(--color-white);
}

/* Страница акций */
.sales-items-side-flex {
  /* display: flex;
  align-items: center;
  flex-wrap: wrap;

  gap: 60px; */

  /* column-gap: 10px;
  row-gap: 70px; */

  display: grid;
  grid-template-columns: repeat(4, 4fr);
  row-gap: 70px;

}

.sales-items-side-flex > :nth-child(n) {
  justify-self: center;
}

/* Корзина */
.store-header-side-store {
  display: flex;
  justify-content: center;
  align-items: center;

  column-gap: 40px;
}

.button-header-side-store {
  width: 50px;

  display: flex;
  align-items: center;
}

.button-header-side-store img {
  width: 100%;
}

.button-header-side-clear {
  font-size: 28px;
  font-weight: 600;
  color: #A3A3A3;
}

.button-header-side-clear:hover {
  transform: scale(1.05);
}

.button-header-side-clear:active {
  transform: scale(1.05);
}

.container-store {
  display: flex;
  justify-content: space-between;
}

.all-price-store {
  font-size: 32px;
}

.all-price-store {
  width: 550px;
  height: 85vh;

  display: flex;
  flex-direction: column;
  gap: 250px;

  background-color: var(--color-white);
  border-radius: 30px;
}

.all-price-store-cost {
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  margin-top: 30px;

  font-weight: 600;
}

.all-price-store-cost img {
  min-width: 60px;
}

.all-price-store-button {
  width: 75%;
  height: 70px;

  background-color: var(--color-darkGray);
  color: var(--color-white);

  font-size: 28px;
  border-radius: 35px;
}

.all-price-store-button-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-price-store-button:hover {
  transform: scale(1.05);
}

.all-price-store-button:active {
  transform: scale(1.05);
}

.all-price-store-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.basket {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.basket-rect {

}

.basket-side {
  display: flex;
  gap: 50px;
}

.basket-side-img {
  width: 400px;

}

.basket-side-img img {
  width: 100%;

  border-radius: 35px;
}

.basket-side-text {
  max-width: 450px;
}

.basket-side-title {
  font-size: 40px;
}

.basket-side-composition {
  font-size: 30px;
  color: #868686;
  ;
}

.basket-side-information {
  display: flex;
  align-items: center;
  gap: 70px;
}

.basket-side-price {
  display: flex;
  align-items: center;
  gap: 15px;

  font-size: 30px;
  font-weight: 600;
}

.basket-side-price img {
  min-width: 60px;
}

.basket-side-amount {
  display: flex;
  align-items: center;
  gap: 40px;

  font-size: 30px;
  font-weight: 600;
}
